/* まず、style.cssにこのルールを書き入れてください。 */
body {
  /* font-size: 100%; */
  font-weight: bold;
  background-color: yellow;
}

h1 {
  font-size: 200%;
  font-weight: bold;
  text-decoration: underline;
  color: black;
}

h2 {
  font-size: 150%;
  font-weight: bold;
  text-decoration: underline;
  color: black;
}

h3 {
  font-size: 130%;
  font-weight: bold;
  color: black;
}


h4 {
  font-size: 85%;
  font-weight: bold;
  background-color: blue;
  color: white;
  width: 600px;
}

div {
  font-size: 100%;
  background-color: yellowgreen;
  color: white;
  width: 600px;
}

p {
  font-size: 100%;
  background-color: blue;
  color: white;
  width: 600px;
}

ol {
  font-size: 100%;
  background-color: yellow;
  color: black;
  width: 600px;
}

.word {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50%;
  font-weight: bold;
  color: white;
  width: 600px;
  height: 200px;
  background: blue;
}

button {
  /* padding: 8px 15px; */
  font-size: 120%;
  font-weight: bold;
  color: black;
  /* background: pink; */
  /* color: #fff; */
  /* border: none; */
}

#text {
  font-size: 32px;
  width: 600px;
  word-wrap: break-word;
}
